sift1M
sbert_natural_question_with_frequency
deep1b
Facebook_SimSearchNet++
sbert
MariusGNN
Journal
random_SYN_dataset/
SYN_dataset/
bigann
__pycache__
bench_cpu_*/*
bench_gpu_1bn_*/*
bench_gpu_1bn_coarse/*
trained_CPU_indexes
trained_CPU_indexes/*
trained_GPU_indexes
trained_GPU_indexes/*
unused_trained_CPU_indexes
unused_trained_CPU_indexes/*
unused_trained_GPU_indexes
unused_trained_GPU_indexes/*
cpu_performance_result/*
gpu_performance_result/*
*log
network_response_time.npy
CPU_response_time/*
gpu_prof_report_tmp
__pycache__/*
