# Variable to be replaced (<--variable_name-->):
#   DEVICE_NAME
#   FREQ
#   sp_memory_channel
#   stage2_memory_channel
#   meta_info_memory_channel
#   connectivity_HBM_OPQ_matrix
#   output_memory_channel

# platform=<--DEVICE_NAME-->
profile_kernel=data:all:all:all
kernel_frequency=<--FREQ-->
debug=1

[connectivity]
nk=vadd:1:vadd_1
# slr=vadd_1:SLR0
<--sp_memory_channel-->
<--stage2_memory_channel-->
<--meta_info_memory_channel-->
<--output_memory_channel-->

[vivado] 
# param=project.writeIntermediateCheckpoints=true

##### Enable one of the following strategies by uncomment the options #####
prop=run.impl_1.strategy=Performance_SpreadSLLs
# prop=run.impl_1.strategy=Performance_BalanceSLLs
# prop=run.impl_1.strategy=Congestion_SSI_SpreadLogic_high


# #param=compiler.userPreSysLinkTcl=$(PWD)/tcl/plram.tcl 
# param=route.enableGlobalHoldIter=true
# # param=project.writeIntermediateCheckpoints=true
# # prop=run.impl_1.STEPS.PLACE_DESIGN.ARGS.DIRECTIVE=SSI_SpreadLogic_high
# # prop=run.impl_1.{STEPS.PLACE_DESIGN.ARGS.MORE OPTIONS}={-post_place_opt}
# prop=run.impl_1.{STEPS.PHYS_OPT_DESIGN.IS_ENABLED}=true 
# # prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.ARGS.DIRECTIVE=ExploreWithHoldFix
# # prop=run.impl_1.{STEPS.PHYS_OPT_DESIGN.ARGS.MORE OPTIONS}={-fanout_opt -critical_cell_opt -rewire -slr_crossing_opt -tns_cleanup -hold_fix -sll_reg_hold_fix -retime}
# prop=run.impl_1.{STEPS.PHYS_OPT_DESIGN.ARGS.MORE OPTIONS}={-placement_opt -critical_cell_opt}
# #prop=run.impl_1.{STEPS.PHYS_OPT_DESIGN.ARGS.MORE OPTIONS}={-hold_fix -slr_crossing_opt}
# prop=run.impl_1.STEPS.ROUTE_DESIGN.ARGS.DIRECTIVE=AlternateCLBRouting 
# #prop=run.impl_1.{STEPS.PHYS_OPT_DESIGN.ARGS.MORE OPTIONS}={-hold_fix}
# prop=run.impl_1.{STEPS.POST_ROUTE_PHYS_OPT_DESIGN.IS_ENABLED}=true 
# prop=run.impl_1.{STEPS.POST_ROUTE_PHYS_OPT_DESIGN.ARGS.MORE OPTIONS}={-critical_cell_opt -rewire -hold_fix -sll_reg_hold_fix -retime}
# #prop=run.impl_1.{STEPS.POST_ROUTE_PHYS_OPT_DESIGN.ARGS.MORE OPTIONS}={-critical_cell_opt -rewire -slr_crossing_opt -tns_cleanup -hold_fix -sll_reg_hold_fix -retime}
